/* ==[ ЦВЕТА ]== */

// Стандартные цвета
$cl-white: #fff;
$cl-black: #000;

// Белый
$cl-white-1: #FAF8FF;

// Фиолетовый
$cl-purple-1: #5F2EEA;
$cl-purple-2: #E3E0F3;

// Синий
$cl-blue-1: #4227FD;
$cl-blue-2: #8685EF;

// Зеленый
$cl-green-1: #00611B;
$cl-green-2: #90ee90;

// Красный
$cl-red-1: #FF5252;

// Grayscale
$cl-grayscale-1: #F7F7FC;
$cl-grayscale-2: #F0F2F4;
$cl-grayscale-3: #B4B4B4;



$cl-error: $cl-red-1;
$cl-success: $cl-green-1;


