/* ==[ ПРИВЕТСТВЕННОЕ ОКНО ]== */

.welcome-view {
  position: relative;
  background-color: $cl-white;
  border-radius: 15px;
  max-width: 420px;
  min-width: 280px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  width: 100%;

  &__header {
    height: 150px;
    background-color: $cl-grayscale-2;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      background-image: url("../../../assets/images/martian-man.svg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: block;
    }
  }

  &__inner-wrapper {
    padding: 22px 16px;
    min-height: 150px;
  }

  &__title {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
  }
}
