/* ==[ ФОРМА ]== */

$input-border-color: $cl-grayscale-3;

.login-form {
  &__title {
    text-align: center;
    margin-bottom: 24px;
  }

  &__input-group {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__input-label {
    font-weight: 600;
    margin-bottom: 9px;
  }

  &__submit-button {
    width: 100%;
    color: $cl-grayscale-1;
    background-color: $cl-purple-1;
    padding: 11px 9px;
    border: none;
    font-weight: 600;
  }

  &__inner-wrapper {
    margin-bottom: 32px;
  }

  &__input {
    border-radius: 4px;
    border: 1px solid $input-border-color;
    box-shadow: 0 2px 5px rgba($cl-black, 0.1);
    padding: 13px;
    height: 36px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;

    &::placeholder {
      color: $cl-grayscale-3;
    }

    &:disabled {
      background-color: $cl-grayscale-2;
    }

    &:focus {
      outline: none;
      border-color: #4227FD;
      box-shadow: 0 5px 20px rgba(54, 54, 54, 0.1);
    }
  }

}
