/* ==[ ОБЩИЕ СТИЛИ ПРОЕКТА ]== */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: $cl-purple-2;
  font-family: $main-font;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// Ограничение по максиальной ширине
.container {
  @include max-center-content();
}

// Ссылка
.link {
  color: $cl-blue-1;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  cursor: pointer;

  &:hover {
    text-decoration-line: none;
  }

  &:active {
    background-color: $cl-grayscale-2;
  }
}
